@import './total.css';


.cha-title{

    width: fit-content;
    height: 22px;
    margin: 0 auto;
    margin-top: 75px;
    font-family: 'IM FELL Double Pica';
    font-weight: 400;
    font-size: 48px;
    line-height: 22px;
    color: #000000;
    background: url('/img/donut.jpg');
}

.cha-search
{
    font-family: 'Work Sans';
    color: black;
    font-size: 14px;
    line-height: 44px;
    background: #F4F4F4;
    background-size: auto ;
    opacity: 80%;
    width: 303px;
    height: 50px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 24px;
}

.cha-main .fa-magnifying-glass{
    margin-left: 15px;
    margin-right: 10px;
}

.cha-content a{
    text-decoration: none;
}


@media screen and (max-width:1799px) {
    /* 데스크탑 */
    
    .chaDiv{
        width: 13vw;
        height: 32vh;
        background: #ffffff;
        border: 1px solid #CFCFCF;
        margin-left: 100px;
    }
    
    .cha-content img{
        width: 13vw;
        height: 17vh;
        border-bottom: 1px solid #CFCFCF;
    }
    
    .cha-tag{
        font-family: 'IM FELL Double Pica';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        padding-left: 2%;
        color: #7E7E7E;
        border-bottom: 1px solid #CFCFCF;
        
    }

    .cha-t{
        font-weight: 400;
        font-size: 16px;
        line-height: 42px;
        padding-left: 2%;
        color: #000000;
        border-bottom: 1px solid #CFCFCF;
    }

    .cha-date{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
        text-align: center;

        color: #000000;

    }
    }
    
@media screen and (max-width:1280px) {
/* 타블렛 가로 */ 
    
    
    .chaDiv{
        width: 16vw;
        height: 36vh;
        background: #ffffff;
        border: 1px solid #CFCFCF;
        margin-left: 45px;
    }
    
    .cha-content img{
        width: 16vw;
        height: 17vh;
        border-bottom: 1px solid #CFCFCF;
    }
    
    .cha-tag{
        font-family: 'IM FELL Double Pica';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 38px;
        padding-left: 2%;
        color: #7E7E7E;
        border-bottom: 1px solid #CFCFCF;
        
    }

    .cha-t{
        font-weight: 400;
        font-size: 14px;
        line-height: 38px;
        padding-left: 2%;
        color: #000000;
        border-bottom: 1px solid #CFCFCF;
    }

    .cha-date{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
        text-align: center;

        color: #000000;

    }

}
@media screen and (max-width:899px) {
    
    
    .chaDiv{
        width: 23vw;
        height: 22vh;
        background: #ffffff;
        border: 1px solid #CFCFCF;
        margin-left: 8px;
    }
    
    .cha-content img{
        width: 23vw;
        height: 12vh;
        border-bottom: 1px solid #CFCFCF;
    }
    
    .cha-tag{
        font-family: 'IM FELL Double Pica';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 38px;
        padding-left: 2%;
        color: #7E7E7E;
        border-bottom: 1px solid #CFCFCF;
        
    }

    .cha-t{
        font-weight: 400;
        font-size: 14px;
        line-height: 38px;
        padding-left: 2%;
        color: #000000;
        border-bottom: 1px solid #CFCFCF;
    }

    .cha-date{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
        text-align: center;

        color: #000000;

    }
}
@media screen and (max-width:599px) {
    /* 모바일 세로 */
    
    
    .chaDiv{
        width: 33vw;
        height: 28vh;
        background: #ffffff;
        border: 1px solid #CFCFCF;
        margin-left: 20px;
    }
    
    .cha-content img{
        width: 33vw;
        height: 12vh;
        border-bottom: 1px solid #CFCFCF;
    }
    
    .cha-tag{
        font-family: 'IM FELL Double Pica';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 38px;
        padding-left: 2%;
        color: #7E7E7E;
        border-bottom: 1px solid #CFCFCF;
        
    }

    .cha-t{
        font-weight: 400;
        font-size: 14px;
        line-height: 38px;
        padding-left: 2%;
        color: #000000;
        border-bottom: 1px solid #CFCFCF;
    }

    .cha-date{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
        text-align: center;

        color: #000000;

    }
}

@media screen and (max-width:420px) {
    /* 모바일 세로 */
    
    .chaDiv{
        width: 35vw;
        height: 28vh;
        background: #ffffff;
        border: 1px solid #CFCFCF;
        margin-left: 20px;
    }
    
    .cha-content img{
        width: 35vw;
        height: 11vh;
        border-bottom: 1px solid #CFCFCF;
    }
    
    .cha-tag{
        font-family: 'IM FELL Double Pica';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 35px;
        padding-left: 2%;
        color: #7E7E7E;
        border-bottom: 1px solid #CFCFCF;
        
    }

    .cha-t{
        font-weight: 400;
        font-size: 11px;
        line-height: 35px;
        padding-left: 2%;
        color: #000000;
        border-bottom: 1px solid #CFCFCF;
    }

    .cha-date{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
        text-align: center;

        color: #000000;

    }
}

.pro{
    display: flex;
    flex-direction: row;
    overflow-x:scroll ;
}

.com{
    display: flex;
    flex-direction: row;
    overflow-x:scroll ;
}

.sen{
    display: flex;
    flex-direction: row;
    overflow-x:scroll ;
}
