@import './total.css';


.c-title{

    width: fit-content;
    height: 22px;
    margin: 0 auto;
    margin-top: 75px;
    font-family: 'IM FELL Double Pica';
    font-weight: 400;
    font-size: 48px;
    line-height: 22px;
    color: #000000;
    background: url('/img/donut.jpg');
}

.c-search
{
    font-family: 'Work Sans';
    color: black;
    font-size: 14px;
    line-height: 44px;
    background: #F4F4F4;
    background-size: auto ;
    opacity: 80%;
    width: 303px;
    height: 50px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 24px;
}

.fa-pen{
    margin-left: 180px;
}
.crew-main .fa-magnifying-glass{
    margin-left: 15px;
    margin-right: 10px;
}


@media screen and (max-width:1799px) {
    /* 데스크탑 */
    .c-content{
        width: 90vw;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(2,2fr);
        gap: 10%;
        margin: 0 auto;
        margin-top:3%;
        margin-left: 7%;
    }
    
    .crewDiv{
        width: 28vw;
        height: 10vh;
        background: #D3D9E7;
        border-radius: 15px;
        padding-left: 0.7%;
        margin-left: 100px;
    }
    
    .c-content img{
        float: left;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: inline;
    }
    
    .crewT{
        line-height: 220%;
    }
    }
    
@media screen and (max-width:1280px) {
/* 타블렛 가로 */ 
.c-content{
    width: 90vw;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 10%;
    margin: 0 auto;
    margin-top:3%;
    margin-left: 7%;
}

.crewDiv{
    width: 28vw;
    height: 10vh;
    background: #D3D9E7;
    border-radius: 15px;
    padding-left: 0.7%;
    margin-left: 100px;
}

.c-content img{
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline;
}

.crewT{
    line-height: 220%;
}

}
@media screen and (max-width:899px) {
    .c-content{
        width: 90vw;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(2,2fr);
        gap: 5%;
        margin: 0 auto;
        margin-top:3%;
        margin-left: 7%;
    }
    
    .crewDiv{
        width: 25vw;
        height: 6vh;
        background: #D3D9E7;
        border-radius: 15px;
        padding-left: 3%;
        margin-left: 100px;
    }
    
    .c-content img{
        float: left;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: inline;
    }
    
    .crewT{
        line-height: 190%;
    }
}

@media screen and (max-width:599px) {
    /* 모바일 세로 */
    .c-content{
        width: 90vw;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 5%;
        margin: 0 auto;
        margin-top:3%;
        margin-left: 7%;
    }
    
    .crewDiv{
        width: 60vw;
        height: 10vh;
        background: #D3D9E7;
        border-radius: 15px;
        padding-left: 2%;
        margin-left: 100px;
    }
    
    .c-content img{
        float: left;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: inline;
    }
    
    .crewT{
        line-height: 220%;
    }
}

@media screen and (max-width:420px) {
    /* 모바일 세로 */
    .c-content{
        width: 90vw;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 5%;
        margin: 0 auto;
        margin-top:3%;
        margin-left: 7%;
    }
    
    .crewDiv{
        width:60vw;
        height: 9vh;
        background: #D3D9E7;
        border-radius: 15px;
        padding-left: 2%;
        margin-left: 80px;
    }
    
    .c-content img{
        float: left;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: inline;
    }
    
    .crewT{
        line-height: 160%;
    }
}


.TageName{
    width: fit-content;
    height: fit-content;

    background: #FFFFFF;
    backdrop-filter: blur(4px);
    border-radius: 15px;

    padding:5px;
}

.c-content a{
    color: black;
    text-decoration: none;
    margin-bottom: 20px;

}

.findTag{
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}