@import './total.css';


@media screen and (max-width:1799px) {
    /* 데스크탑 */
    
.MemoDiv{
    box-sizing: border-box;
    width: 23vw;
    height: 150px;
    display: inline-block;
    border-radius: 10px;
    padding: 5px;
    background-color: 
    #DAEDFF;
    margin-left: 12%;
}

.idea-content .MemoT{
    margin-top: 11px;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 22vw;
    box-sizing: border-box;
    padding: 5px;
    height: 20px;
    font-size: 12px;
    line-height: 10px;
}

.idea-content .MemoD{
    margin-top: 4px;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 22vw;
    box-sizing: border-box;
    padding: 5px;
    height: 20px;

    font-size: 12px;
    line-height: 10px;
}
    }
    
@media screen and (max-width:1280px) {
/* 타블렛 가로 */ 

.MemoDiv{
    box-sizing: border-box;
    width: 25vw;
    height: 130px;
    display: inline-block;
    border-radius: 10px;
    padding: 5px;
    background-color: 
    #DAEDFF;
    margin-left: 6%;
}

.idea-content .MemoT{
    margin-top: 11px;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 24vw;
    box-sizing: border-box;
    padding: 5px;
    height: 20px;
    font-size: 12px;
    line-height: 10px;
}

.idea-content .MemoD{
    margin-top: 4px;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 24vw;
    box-sizing: border-box;
    padding: 5px;
    height: 20px;

    font-size: 12px;
    line-height: 10px;
}

}
@media screen and (max-width:899px) {
     
.MemoDiv{
    box-sizing: border-box;
    width: 30vw;
    height: 130px;
    display: inline-block;
    border-radius: 10px;
    padding: 5px;
    background-color: 
    #DAEDFF;
}

.idea-content .MemoT{
    margin-top: 11px;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 28vw;
    box-sizing: border-box;
    padding: 5px;
    height: 20px;
    font-size: 12px;
    line-height: 10px;
}

.idea-content .MemoD{
    margin-top: 4px;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 28vw;
    box-sizing: border-box;
    padding: 5px;
    height: 20px;

    font-size: 12px;
    line-height: 10px;
}
}

@media screen and (max-width:599px) {
    /* 모바일 세로 */
 
    .MemoDiv{
        box-sizing: border-box;
        width: 23vw;
        height: 130px;
        display: inline-block;
        border-radius: 10px;
        padding: 6px;
        background-color: 
        #DAEDFF;
    }
    
    .idea-content .MemoT{
        margin-top: 11px;
        background-color: whitesmoke;
        border-radius: 10px;
        width: 100px;
        box-sizing: border-box;
        padding: 5px;
        height: 20px;
        font-size: 12px;
        line-height: 10px;
    }
    
    .idea-content .MemoD{
        margin-top: 4px;
        background-color: whitesmoke;
        border-radius: 10px;
        width: 100px;
        box-sizing: border-box;
        padding: 5px;
        height: 20px;
    
        font-size: 12px;
        line-height: 10px;
    }
}

@media screen and (max-width:420px) {
    /* 모바일 세로 */
    
.MemoDiv{
    box-sizing: border-box;
    width: 28vw;
    height: 130px;
    display: inline-block;
    border-radius: 10px;
    padding: 5px;
    background-color: 
    #DAEDFF;
}

.idea-content .MemoT{
    margin-top: 11px;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 100px;
    box-sizing: border-box;
    padding: 5px;
    height: 20px;
    font-size: 12px;
    line-height: 10px;
}

.idea-content .MemoD{
    margin-top: 4px;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 100px;
    box-sizing: border-box;
    padding: 5px;
    height: 20px;

    font-size: 12px;
    line-height: 10px;
}
    }

@media screen and (max-width:400px) {
    /* 모바일 세로 */
    
.MemoDiv{
    box-sizing: border-box;
    width: 30vw;
    height: 130px;
    display: inline-block;
    border-radius: 10px;
    padding: 5px;
    background-color: 
    #DAEDFF;
}

.idea-content .MemoT{
    margin-top: 11px;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 100px;
    box-sizing: border-box;
    padding: 5px;
    height: 20px;
    font-size: 12px;
    line-height: 10px;
}

.idea-content .MemoD{
    margin-top: 4px;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 100px;
    box-sizing: border-box;
    padding: 5px;
    height: 20px;

    font-size: 12px;
    line-height: 10px;
}
}



.i-title{

    width: 194px;
    height: 22px;
    margin: 0 auto;
    margin-top: 75px;
    font-family: 'IM FELL Double Pica';
    font-weight: 400;
    font-size: 48px;
    line-height: 22px;
    color: #000000;
    background: url('/img/donut.jpg');

}

.i-search
{
    font-family: 'Work Sans';
    color: #525252;
    font-size: 14px;
    line-height: 44px;
    
    width: 303px;
    height: 50px;
    margin: 0 auto;
    margin-top: 50px;
    background: #F4F4F4;
    border-radius: 24px;
}

.idea-main .fa-magnifying-glass{
    margin-left: 15px;
    margin-right: 10px;
}

.idea-content{
    margin-top: 20px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(3,2fr);
}

.idea-content a{
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
}

.fa-file-pen{
    position: fixed;
    top: 85%;
    left: 85%;
    width: 60px;
    height: 60px;
    background: #9DCFFF;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
}



/*  모달창 css  */

#modal2{
    display: none;
    margin-top: 10vh;
}
#modalX{
    color: black;
    position: relative;
    top: 2.5vh;
}
.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 12.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#modalX{
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: inline;
}
.modal-window {
    position: relative;
    padding: 10px;
    width: 60vw;
    height: 61vh;
    background: #FFFFFF;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    margin: 0 auto;
}

.modal-window .title{
    width: fit-content;
    height: fit-content;
    font-size:4vh;
    margin: 0 auto;
    font-weight: 200;
}


.close-area {
    width: 15vh;
    height: 4vh;
    background: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 38px;
    font-style: normal;
    font-size: 15px;
    line-height: 55px;
    text-align: center;
    color: #FFFFFF;

    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.contents {
    background: #dae7ff;
    width: 58vw;
    height: 48vh;
    border-radius: 40px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 3vh;
}

.uploadTextarea {
    width: 60vw;
    height: 60vh;
    overflow-x: hidden;
    font-size: 1.2em;
    border: none;
    box-sizing: border-box;
    padding: 5vh;
    background: none;
}

.uploadTitle {
    font-size: 1.5em;
    font-weight: 600;
    width: 60vw;
    height: 5vh;
    border: none;
    border-bottom: 1px solid gray;
    padding: 2vh;
    padding-left: 7vh;
    background: none;
}