

#menu_wrap {
    color: white;
    overflow-y:scroll;
    background:none;
    font-size:12px;
    border-radius: 10px;
    width: 40vh;
    height: 20vh;
}


@media screen and (max-width:1799px) {
    /* 데스크탑 */#map{
    width: 30vw;
    height:30vw;
    margin-top: 4%;
    margin-left: 3vw;
    }
    .info-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2%;
    }
    .giveinfo{
        background: #DFF2FF;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        width: 30vw;
        height:15vw;
        margin-top: 8vw;
        padding: 2%;
    }
    }
    
@media screen and (max-width:1280px) {
/* 타블렛 가로 */ 
    /* 데스크탑 */#map{
    width: 30vw;
    height:30vw;
    margin-top: 4%;
    margin-left: 3vw;
    }
    .info-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2%;
    }
    .giveinfo{
        background: #DFF2FF;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        width: 30vw;
        height:15vw;
        margin-top: 8vw;
        padding: 2%;
    }
}
@media screen and (max-width:899px) {
    
    /* 데스크탑 */#map{
        width: 30vw;
        height:30vw;
        margin-top: 4%;
        margin-left: 3vw;
        }
        .info-grid{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 2%;
        }
        .giveinfo{
            background: #DFF2FF;
            box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 15px;
            width: 30vw;
            height:15vw;
            margin-top: 8vw;
            padding: 2%;
        }
}
@media screen and (max-width:599px) {
    /* 모바일 세로 */
    
    #map{
        width: 60vw;
        height:60vw;

        margin-top: 4%;
        margin: 0 auto;
        }
        .info-grid{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 2%;
        }
        .giveinfo{
            background: #DFF2FF;
            box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 15px;
            width: 60vw;
            height:35vw;
            margin: 0 auto;
            padding: 2%;
            margin-bottom: 5vw;
        }
}

@media screen and (max-width:420px) {
    /* 모바일 세로 */
    
    #map{
        width: 60vw;
        height:60vw;

        margin-top: 4%;
        margin: 0 auto;
        }
        .info-grid{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 2%;
        }
        .giveinfo{
            background: #DFF2FF;
            box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 15px;
            width: 60vw;
            height:35vw;
            margin: 0 auto;
            padding: 2%;
            margin-bottom: 5vw;
        }
}

