@import './total.css';

.container{
    overflow-y: scroll;
}
.signup-t{
    margin-top: -28px;
    font-family: 'IM FELL Double Pica';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 36px;
    text-align: center;

    color: #000000;

}

#logo-line{
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
}

.signup .fa-x{
    color: gray;
    width: 20px;
    height: 20px;
    margin-top: 30px;
    margin-left: 20px;
}

.singup-btn{
    padding: 16px 32px;
    display: block;

    width: 40vh;
    height: 50px;
    border: none;

    background: #7CA9E3;
    border-radius: 100px;

    color: white;
    font-family:'IM FELL Double Pica';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 15px;
    text-align: center;

    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 10px;
}

form p{
    font-family: 'Inter';
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    
    line-height: 20px;
}

#name {

    width: 40vh;
    height: 45px;

    background: #F6F6F6;

    border: 1px solid #E8E8E8;
    border-radius: 8px;

    display: block;
    margin: 0 auto;
    padding-left: 10px;

    margin-bottom: -20px;
}

#email {

    width: 40vh;
    height: 45px;

    background: #F6F6F6;

    border: 1px solid #E8E8E8;
    border-radius: 8px;

    display: block;
    margin: 0 auto;
    padding-left: 10px;
    margin-bottom: -20px;
}
#id {

    width: 40vh;
    height: 45px;

    background: #F6F6F6;

    border: 1px solid #E8E8E8;
    border-radius: 8px;

    display: block;
    margin: 0 auto;
    padding-left: 10px;
    margin-bottom: -20px;
}
#pw {

    width: 40vh;
    height: 45px;

    background: #F6F6F6;

    border: 1px solid #E8E8E8;
    border-radius: 8px;

    display: block;
    margin: 0 auto;
    padding-left: 10px;
    margin-bottom: -20px;
}


.choice{

    width: 334px;
    height: 56px;

    margin: 0 auto;
    margin-top: 40px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    
    color: #000000;
}

.choiceM{

    width: fit-content;
    height: fit-content;
    display: block;
    border-radius: 15px;
    margin:0 auto;

}


.radio{
    display: block;
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
}

#choiceR1{
    margin-right: 20vh;
}

.choiceT :nth-child(1){
    float: left;
    width: fit-content;
    height: fit-content;
    display: block;
    padding-left: 4vh;
    text-align: center;
}

.choiceT :nth-child(2){
    float: left;
    width: fit-content;
    height: fit-content;
    display: block;
    margin: 0 auto;
    padding-left: 10vh;
}


.choiceT{
    text-align: center;
}