@import './total.css';

.container{
    overflow-y: scroll;
}
.signup-t{
    margin-top: -28px;
    font-family: 'IM FELL Double Pica';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 36px;
    text-align: center;

    color: #000000;

}

#logo-line{
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
}

.signup .fa-x{
    color: gray;
    width: 20px;
    height: 20px;
    margin-top: 30px;
    margin-left: 20px;
}

.singup-btn{
    padding: 16px 32px;

    position: relative;
    width: 315px;
    height: 30px;

    background: #7CA9E3;
    border-radius: 100px;

    color: white;
    font-family:'IM FELL Double Pica';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
    text-align: center;

    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 10px;
}

form p{
    font-family: 'Inter';
    margin-left: 30px;
    margin-bottom: 0;
    line-height: 20px;
}

#name {

    width: 355px;
    height: 45px;

    background: #F6F6F6;

    border: 1px solid #E8E8E8;
    border-radius: 8px;

    display: block;
    margin: 0 auto;
    padding-left: 10px;

    margin-bottom: -20px;
}

#s-num {

    width: 355px;
    height: 45px;

    background: #F6F6F6;

    border: 1px solid #E8E8E8;
    border-radius: 8px;

    display: block;
    margin: 0 auto;
    padding-left: 10px;
    margin-bottom: -20px;
}
#p-pw {

    width: 355px;
    height: 45px;

    background: #F6F6F6;

    border: 1px solid #E8E8E8;
    border-radius: 8px;

    display: block;
    margin: 0 auto;
    padding-left: 10px;
    margin-bottom: -20px;
}
#email {

    width: 355px;
    height: 45px;

    background: #F6F6F6;

    border: 1px solid #E8E8E8;
    border-radius: 8px;

    display: block;
    margin: 0 auto;
    padding-left: 10px;
    margin-bottom: -20px;
}
#id {

    width: 355px;
    height: 45px;

    background: #F6F6F6;

    border: 1px solid #E8E8E8;
    border-radius: 8px;

    display: block;
    margin: 0 auto;
    padding-left: 10px;
    margin-bottom: -20px;
}
#pw {

    width: 355px;
    height: 45px;

    background: #F6F6F6;

    border: 1px solid #E8E8E8;
    border-radius: 8px;

    display: block;
    margin: 0 auto;
    padding-left: 10px;
    margin-bottom: -20px;
}