@import './total.css';

.fa-angle-left{
    font-size: 25px;
}

#upload-line{
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
}

.uploadTitle_div {
    clear: both;
}

.uploadTitle {
    font-size: 1em;
    font-weight: 600;
    width: 97%;
    height: 3em;
    border: none;
    border-bottom: 1px solid gray;
    padding-left: 10px;
}

.uploadMenu {
    display: flex;
    flex-direction: row;
    float: right;
    margin-bottom: 4em;
    margin-top: 1em;
}


.uploadTextarea {
    clear: both;
    width: 95%;
    height: 25em;
    resize: none;
    font-size: 1.2em;
    border: none;
    padding: 10px;
}

.up-c {
    text-align: center;
}


form input::file-selector-button {
    display: none;
}
